.place-popup__content {
    max-height: 80vh;
    max-width: 80vw;
    position: relative;
  }
  
  @media screen and (max-width: 540px) {
    .place-popup__content {
      width: calc(100% - 60px);
    }
  }
  